<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Track</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    body {
        background-color: #c8a98f;
        color: #fff;
    }
    .navbar {
        background-color: #023E8A;
    }
    .navbar-brand {
        font-weight: bold;
    }
    .nav-link {
        color: #fff;
        font-weight: bold;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Albums App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/allTrackPlaylist">All Playlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/albums">All Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">Add Album</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createpl">Add Playlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/artists">All Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createar">Add Artist</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="my-5">Track</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Duration</th>
            <th>ID Album</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="track : ${trackById}">
            <td th:text="${track.id_track}"></td>
            <td th:text="${track.name}"></td>
            <td th:text="${track.duration}"></td>
            <td th:text="${track.id_album}"></td>
            <td>
                <form th:action="@{/deletet/{id}(id=${track.id_track})}" method="post">
                    <input type="hidden" name="id_album" th:value="${track.id_track}"/>
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <h1 class="my-5">ID Track     ID playlist</h1>
    <form th:action="@{/playlists/add-track}" method="post">
        <input type="number" name="id_track" value="<track_id_here>"/>
        <input type="number" name="id_playlist" value="<playlist_id_here>"/>
        <button type="submit">Add Track to Playlist</button>
    </form>
    <h1 class="my-5">Update Forms For Tracks</h1>
    <form th:action="@{/update-tracks}" th:object="${trackById}" method="post">
        <input type="hidden" th:field="*{id_track}"/>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" required><br><br>
        <label for="id_album">Album ID:</label>
        <input type="number" id="id_album" th:field="*{id_album}" required><br><br>
        <label for="duration">Duration:</label>
        <input type="text" id="duration" th:field="*{duration}" required><br><br>
        <button type="submit">Update Track</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSLrO1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>